<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyc.dao.BookDTOMapper">
    <resultMap id="bookDTO" type="com.yyc.dto.BookDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="book_name" property="bookName" jdbcType="VARCHAR"/>
        <result column="book_isbn" property="bookIsbn" jdbcType="VARCHAR"/>
        <result column="book_price" property="bookPrice" jdbcType="DECIMAL"/>
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR"/>
        <result column="book_repertorySize" property="bookRepertorySize" jdbcType="INTEGER"/>
        <result column="pub_name" property="pubName" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="book_category" property="bookCategory" jdbcType="INTEGER"/>
        <result column="book_pub" property="bookPub" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="book_list">
    id,book_isbn, book_name, book_price, book_author,book_repertorySize,pub_name,category_name,book_category,book_pub
    </sql>
    <select id="selectAllBook" resultMap="bookDTO">
        select
        <include refid="book_list"/>
        from view_book_category_publisher
        <if test="searchItem == 'book_name' and ''!= searchValue">
         where book_name like CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchItem == 'book_author' and ''!= searchValue">
            where book_author like CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchItem == 'book_pub' and ''!= searchValue">
            where pub_name like CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchItem == 'book_category' and ''!= searchValue">
            where category_name like CONCAT('%',#{searchValue},'%')
        </if>
    </select>
<!--    <select id="selectBookPressData" resultType="java.util.HashMap">-->
<!--       SELECT count(*) as bookNumber,count(distinct(book_category)) as bookCategoryNumber,book_pub as bookPub from t_book GROUP BY book_pub ORDER BY book_pub desc;-->
<!--      </select>-->

<!--    <select id="selectBookNumberGroupByCategory" resultType="java.util.HashMap">-->
<!--       SELECT book_category as bookCategory,count(*) as bookNumber FROM t_book GROUP BY book_category-->
<!--    </select>-->


<!--    <select id="selectBookByPrimaryKey" resultMap="book" parameterType="java.lang.Integer">-->
<!--        select-->
<!--        <include refid="book_list"/>-->
<!--        from t_book-->
<!--        where  id = #{id,jdbcType=INTEGER}-->
<!--    </select>-->
</mapper>
