<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyc.dao.DisOrderDTOMapper">
    <resultMap id="disOrder" type="com.yyc.dto.DisOrderDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dis_name" property="disName" jdbcType="VARCHAR"/>
        <result column="book_name" property="bookName" jdbcType="VARCHAR"/>
        <result column="nickname" property="operateUserName" jdbcType="VARCHAR"/>
        <result column="ord_number" property="orderNumber" jdbcType="INTEGER"/>
        <result column="ord_price" property="orderPrice" jdbcType="DECIMAL"/>
        <result column="ord_totalprice" property="orderTotalPrice" jdbcType="DECIMAL"/>
        <result column="ord_status" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="ord_datetime" property="orderDate" jdbcType="TIMESTAMP"/>
        <result column="ord_enddatetime" property="orderEndDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="disOrder_list">
    id, dis_name, book_name,nickname,ord_number,ord_price,ord_totalprice,ord_status,ord_datetime,ord_enddatetime
    </sql>

    <select id="selectAllOrder" resultMap="disOrder">
        select
        <include refid="disOrder_list"/>
        from view_disorder_book_distributor
    </select>

</mapper>
