<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace是对应的mapper接口文件 -->
<mapper namespace="com.yyc.dao.IUserInfoMapper">
    <resultMap id="userDTO" type="com.yyc.dto.UserDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="BIT"/>
        <result column="username" property="userName" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="user_list">
    id, `name`, state, username,role
    </sql>

    <!-- id与接口文件中的方法名相同 -->
    <select id="findByUsername" resultType="com.yyc.entity.UserInfo">
        SELECT
            t_user.id,
            t_user.`name`,
            t_user.`password`,
            t_user.salt,
            t_user.state,
            t_user.username
        FROM
            t_user
        WHERE username=#{username}
    </select>

    <select id="findNameByUsername" resultType="java.lang.String">
        SELECT
            t_user.`name`
        FROM
            t_user
        WHERE username=#{username}
    </select>

    <select id="selectAllUser" resultType="com.yyc.dto.UserDTO">
        SELECT
	        u.id,
	        u.`name` as nickname,
	        u.state,
	        u.username,
	        r.role
        FROM
	        t_user u
        LEFT JOIN t_user_role u_r ON u.id = u_r.user_id
        LEFT JOIN t_role r ON r.id = u_r.role_id
        ORDER BY u.id
    </select>

    <insert id="insertUser" parameterType="com.yyc.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
        <!--AFTER :insert 先执行. -->
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            <!-- 获取最后一次执行insert语句的 key    UserInfo.getId()就可以获取id-->
            select LAST_INSERT_ID()
        </selectKey>
        insert into t_user(`name`, password, salt, state, username)
        values(#{name}, #{password},#{salt},#{state},#{username})
    </insert>

    <insert id="insertUserAndRole">
        insert into t_user_role(user_id,role_id)
        values (#{userId},#{roleId})
    </insert>

    <delete id="deleteRoleByUserId">
        delete from t_user_role
        where user_id = #{userId}
    </delete>

    <delete id="deleteUserByUserId">
        delete from t_user
        where id = #{userId}
    </delete>
</mapper>