<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace是对应的mapper接口文件 -->
<mapper namespace="com.yyc.dao.IUserInfoMapper">
	<!-- id与接口文件中的方法名相同 -->
	<select id="findByUsername" resultType="com.yyc.entity.UserInfo">
        SELECT
            t_user.id,
            t_user.`name`,
            t_user.`password`,
            t_user.salt,
            t_user.state,
            t_user.username
        FROM
            t_user
        WHERE username=#{username}
    </select>

    <select id="findNameByUsername" resultType="java.lang.String">
        SELECT
            t_user.`name`
        FROM
            t_user
        WHERE username=#{username}
    </select>

</mapper>